<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
>
	<head th:replace="layouts :: head"></head>
	
	<body>
		<nav th:replace="layouts :: navbar"></nav>
		
		<div class="container" style="margin-top: 50px;">
			<div class="row">
				<div class="col text-center">
					<hr>
					<h2 class="col text-center" >Add Project</h2>
					<hr style="margin-bottom: 50px;">
					
					<form class="form-group" action="/projects/save" method="POST" th:object="${project}">
						<p><input class="form-control" type="text" placeholder="Project Name" th:field="${project.name}"></p>
						
						<p><select class="form-control" th:field="${project.stage}">
							<option th:value="NOTSTARTED">Not started</option>
							<option th:value="INPROGRESS">In progress</option>
							<option th:value="COMPLETED">Completed</option>
						</select></p>
						
						<p><textarea class="form-control" type="text" 
								placeholder="Enter Project Description" th:field=${project.description}></textarea></p>
						
						<p><select class="form-control form-control-sm" th:field="${project.employees}" multiple="multiple">
							<option th:each = "employee : ${employees}" 
							        th:value="${employee.employeeId}" 
							        th:text="${employee.lastName}">
							</option>
						</select></p>
						
						<button class="btn btn-dark btn-md" type="submit">Create Project</button>
					</form>
				</div>
			</div>
			
		</div>
	
	</body>
</html>